In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read the csv file into a pandas DataFrame
df = pd.read_csv('Univ_Raw_Data/Most-Recent-Cohorts-All-Data-Elements.csv', low_memory=False)
data = df [['UNITID', 'INSTNM','CITY', 'STABBR', 'ZIP','PCT_WHITE', 'PCT_BLACK', 'PCT_ASIAN', 'PCT_HISPANIC', 
                  'PCT_BORN_US','MEDIAN_HH_INC', 'LN_MEDIAN_HH_INC', 'POVERTY_RATE', 'UNEMP_RATE',
                  'LATITUDE', 'LONGITUDE', 'ADM_RATE', 'ADM_RATE_ALL', 'SAT_AVG', 'COUNT_NWNE_P10', 'COUNT_WNE_P10', 
                  'MN_EARN_WNE_P10', 'MN_EARN_WNE_MALE0_P10', 'MN_EARN_WNE_MALE1_P10', 'TUITIONFEE_IN', 'C150_4_WHITE',
                  'C150_4_BLACK', 'C150_4_HISP', 'C150_4_ASIAN','PCIP01', 'PCIP03', 'PCIP04', 'PCIP05', 'PCIP09', 'PCIP10', 'PCIP11', 'PCIP12', 'PCIP13', 
                     'PCIP14', 'PCIP15', 'PCIP16', 'PCIP19', 'PCIP22', 'PCIP23', 'PCIP24', 'PCIP25', 'PCIP26', 'PCIP27',
                     'PCIP29', 'PCIP30', 'PCIP31', 'PCIP38', 'PCIP39', 'PCIP40', 'PCIP41', 'PCIP42', 'PCIP43', 'PCIP44',
                     'PCIP45', 'PCIP46', 'PCIP47', 'PCIP48', 'PCIP49', 'PCIP50', 'PCIP51','PCIP52', 'PCIP54', 'AGE_ENTRY','FEMALE', 'FIRST_GEN','FAMINC' ]]
len(data)

7593

In [3]:
data.head()

,UNITID,INSTNM,CITY,STABBR,ZIP,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,PCT_BORN_US,...,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54,AGE_ENTRY,FEMALE,FIRST_GEN,FAMINC
0,100654,Alabama A & M University,Normal,AL,35762,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,94.7399978637695,...,0.0,0.0,0.0258,0.0000,0.1479,0.0000,20.277133825,0.5472427116,0.3887357227,30489.792062
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,96.5,...,0.0,0.0,0.0376,0.2231,0.1837,0.0188,23.58415642,0.6369683532,0.3564593301,50315.256601
2,100690,Amridge University,Montgomery,AL,36117-3553,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,94.0899963378906,...,0.0,0.0,0.0000,0.0000,0.3962,0.0000,33.065934066,0.6043956044,0.5285714286,19593.14652
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,95.2699966430664,...,0.0,0.0,0.0288,0.1892,0.2072,0.0117,23.152713891,0.4779208832,0.3137931034,55624.221251
4,100724,Alabama State University,Montgomery,AL,36104-0271,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,94.5299987792968,...,0.0,0.0,0.0473,0.0926,0.0983,0.0113,20.201285657,0.612294094,0.369258754,30857.27722

In [4]:
clean_data = data.dropna(how='any')
print(len(clean_data))
clean_data.head()

1060

,UNITID,INSTNM,CITY,STABBR,ZIP,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,PCT_BORN_US,...,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54,AGE_ENTRY,FEMALE,FIRST_GEN,FAMINC
0,100654,Alabama A & M University,Normal,AL,35762,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,94.7399978637695,...,0.0,0.0,0.0258,0.0000,0.1479,0.0000,20.277133825,0.5472427116,0.3887357227,30489.792062
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,96.5,...,0.0,0.0,0.0376,0.2231,0.1837,0.0188,23.58415642,0.6369683532,0.3564593301,50315.256601
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,95.2699966430664,...,0.0,0.0,0.0288,0.1892,0.2072,0.0117,23.152713891,0.4779208832,0.3137931034,55624.221251
5,100751,The University of Alabama,Tuscaloosa,AL,35487-0166,75.3499984741211,21.0599994659423,1.20000004768371,2.41000008583068,96.0800018310547,...,0.0,0.0,0.0295,0.1065,0.2886,0.0155,21.161128115,0.607564495,0.2329344729,89976.373415
8,100830,Auburn University at Montgomery,Montgomery,AL,36117-3596,59.9700012207031,37.2099990844726,0.91000002622604,1.62000000476837,96.8499984741211,...,0.0,0.0,0.0286,0.2555,0.2471,0.0134,22.438243367,0.6838975297,0.3906485671,38489.309241

In [5]:
clean_data.columns

Index(['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'PCT_WHITE', 'PCT_BLACK',
       'PCT_ASIAN', 'PCT_HISPANIC', 'PCT_BORN_US', 'MEDIAN_HH_INC',
       'LN_MEDIAN_HH_INC', 'POVERTY_RATE', 'UNEMP_RATE', 'LATITUDE',
       'LONGITUDE', 'ADM_RATE', 'ADM_RATE_ALL', 'SAT_AVG', 'COUNT_NWNE_P10',
       'COUNT_WNE_P10', 'MN_EARN_WNE_P10', 'MN_EARN_WNE_MALE0_P10',
       'MN_EARN_WNE_MALE1_P10', 'TUITIONFEE_IN', 'C150_4_WHITE',
       'C150_4_BLACK', 'C150_4_HISP', 'C150_4_ASIAN', 'PCIP01', 'PCIP03',
       'PCIP04', 'PCIP05', 'PCIP09', 'PCIP10', 'PCIP11', 'PCIP12', 'PCIP13',
       'PCIP14', 'PCIP15', 'PCIP16', 'PCIP19', 'PCIP22', 'PCIP23', 'PCIP24',
       'PCIP25', 'PCIP26', 'PCIP27', 'PCIP29', 'PCIP30', 'PCIP31', 'PCIP38',
       'PCIP39', 'PCIP40', 'PCIP41', 'PCIP42', 'PCIP43', 'PCIP44', 'PCIP45',
       'PCIP46', 'PCIP47', 'PCIP48', 'PCIP49', 'PCIP50', 'PCIP51', 'PCIP52',
       'PCIP54', 'AGE_ENTRY', 'FEMALE', 'FIRST_GEN', 'FAMINC'],
      dtype='object')

In [6]:
clean_data.to_csv('consol_data.csv', index=False)